# pandas

In [ ]:
import pandas as pd 
import numpy as np #panda is dependent of num py so bothe need to be called together

Setting data frames and series

In [ ]:
df = pd.DataFrame(
    {
        "Name":
            ["Braund, Mr. Owen Harris",
             "Allen, Mr. William Henry",
             "Bonnell, Miss. Elizabeth",],
        "Age": [22, 35, 58],
        "Sex":["male", "male", "female"],
        }
    )
df["Age"]#a singel column from a data frame is a series
ds = pd.Series([1, 2, 3, 4, 5], name="num series")# you can crat a series by your self 
Poke_frame = pd.read_csv("pokemon.csv")#read a csv file to make a data frame from it

Using a dataframe/series

In [ ]:
print(df["Age"].max())#max value of the age column
df.describe()#gives a summary on some basic statistics of the numerical data of the data frame
#note that text data like names is filtered out in the describe function
Poke_frame.tail(5)#gives the first 5 rows of the data frame
Poke_frame.dtypes# gives the data types of the columns in the data frame
Poke_frame.to_excel("pokemon.xlsx",sheet_name="pokedex",index=False)#converts the data frame to a json file
Poke_frame=pd.read_excel("pokemon.xlsx",sheet_name="pokedex")#reads the excel file to a data frame
Poke_frame.info()#gives a summary of the data frame

convertin into np array and saving in txt format

In [ ]:
np_Poke_frame=Poke_frame.to_numpy();#converts the data frame to a numpy array
print (np_Poke_frame)
np.savetxt("pokemon.txt",np_Poke_frame,delimiter=",",fmt="%s")#saves the numpy array to a text file
np_Poke_frame.shape

taking row or columns element from pandas frame

In [46]:
#Poke_frame.info()
type(Poke_frame["Generation"])#a seriese is taken when passing multipule values  
type(Poke_frame[["Name","Type 1","Type 2"]])#a dataframe is taken when passing multipule columns 
print(Poke_frame[Poke_frame["HP"]<=2])# you can filter to select rows with spacific properties 
Poke_frame["HP"]<=2#this gives us a pd series with true false valus based on the conditon (similler to np array )
search=(Poke_frame["Attack"]>100 )& ((Poke_frame["Total"]>300) | (Poke_frame["Legendary"]==True))#you can use the | and & operators to combine conditions and create a filter
print(Poke_frame[search])#you can use the search to filter the data frame
Poke_frame[Poke_frame["Type 2"].notna()]#notnareturns false if no vsalues are present in the column else true

       #      Name Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  \
316  292  Shedinja    Bug  Ghost    236   1      90       45       30

     Sp. Def  Speed  Generation  Legendary
316       30     40           3      False
       #                       Name   Type 1  Type 2  Total   HP  Attack  \
7      6  CharizardMega Charizard X     Fire  Dragon    634   78     130
8      6  CharizardMega Charizard Y     Fire  Flying    634   78     104
12     9    BlastoiseMega Blastoise    Water     NaN    630   79     103
19    15      BeedrillMega Beedrill      Bug  Poison    495   65     150
39    34                   Nidoking   Poison  Ground    505   81     102
..   ...                        ...      ...     ...    ...  ...     ...
793  717                    Yveltal     Dark  Flying    680  126     131
796  719        DiancieMega Diancie     Rock   Fairy    700   50     160
797  720        HoopaHoopa Confined  Psychic   Ghost    600   80     110
798  720         HoopaHoopa Unbound  Psychic    Dark    680   80     160
799  721                  Volcanion     Fire   Water    600   80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
7        111      130       85    100           1      False
8         78      159      115    100           1      False
12       120      135      115     78           1      False
19        40       15       80    145           1      False
39        77       85       75     85           1      False
..       ...      ...      ...    ...         ...        ...
793       95      131       98     99           6       True
796      110      160      110    110           6       True
797       60      150      130     70           6       True
798       60      170      130     80           6       True
799      120      130       90     70           6       True

[170 rows x 13 columns]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

How do I select specific rows and columns from a DataFrame?

In [60]:
Poke_frame.loc[search,["Name","Generation"]]#you can use to loc[] methord to filter specific  row and colomns
Poke_frame.iloc[200:750:25,[1,2,5,6,7]]#using iloc you can use indexing to get specific row and colomns
#lets try chaland our self by changing pikachu to a legendary 
Poke_frame.loc[Poke_frame["Name"]=="Pikachu"]
Poke_frame.loc[Poke_frame["Name"]=="Pikachu","Legendary"] = True
Poke_frame.loc[Poke_frame["Name"]=="Pikachu"]
Poke_frame.to_excel("pokemon.xlsx",sheet_name="pokedex",index=False)